@import "customBulma";
@import "hover";

@import "vars";
@import "tootips";

body {
  font-family: $font-family-light;
}

// transition

.text-hover-transition {
  transition: color 0.4s ease-in-out;
}

// headroom
.headroom {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  transition: transform 0.6s ease;
}
.headroom.headroom--pinned {
  transform: translateY(0);
}
.headroom.headroom--unpinned {
  transform: translateY(-100%);
}
