@import "customBulma";
@import "hover";

@import "vars";
@import "tootips";
@import "navbar.scss";

body {
  font-family: $font-family-light;
  overflow-x: hidden;
}

h1 {
  font-size: 44px;
  color: #171C34;
  line-height:62px;
  font-family: $font-family-title;
  @include mobile {
    font-size: 30px;
    line-height: 50px;
  }
}

.is-border-box {
  box-sizing: border-boxï¼›
}

::-webkit-scrollbar {
    display: none;
}
// transition

.text-hover-transition {
  transition: color 0.4s ease-in-out;
}

// tabs
.tab-wrapper {
  margin-top: 30px;
  display: flex;
  .tab-content {
    font-size:16px;
    font-family:$font-family-title;
    font-weight:600;
    color: rgba(145,154,163,1);
    line-height:20px;
    margin-right: 30px;
    padding-bottom: 4px;
    margin-bottom: 24px;
    cursor: pointer;
  }
  .is-active {
    border-radius:1px;
    border-bottom: 2px solid $common-active-color;
    color: $common-active-color;

  }
}

// input

.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
  border-color: $light-blue;
  box-shadow: 0 0 0 0.125em rgba(54,130,222, 0.25);
}

.button:focus, .button.is-focused {
  border-color: $light-blue;
  color: $light-blue;
}

.button:focus:not(:active), .button.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(54,130,222, 0.25);
}

// Used for buttons in section
.button.section-button {
  @include title();
  background: #007aff;
  border-radius: 5px;
  box-shadow: 0px 8px 34px 0px rgba(0,122,255,0.2);
  border: none;
  color: white;
  font-size: 16px;
  line-height: 54px;
  height: 54px;
  padding: 17px 38px;
  margin-right: 20px;
  &:hover {
    border: none;
  }
  @include until($desktop) {
    height: 30px;
    background: #007aff;
    border-radius: 2px;
    line-height: 20px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 600;
  }
  &.section-button_white {
    background: white;
    color: #007AFF;
    @include until($desktop) {
      background: white;
      color: #007AFF;
    }
  }
}
