@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/mixins";


$font-family-light: Arial,PingFangSC-Regular, Sans-serif;
$font-family-main: Arial, PingFangSC-Medium, Sans-serif;
$font-family-title: Arial Bold, PingFangSC-Semibold, Sans-serif;

// bulma
$family-serif: $font-family-light;
$family-primary: $font-family-light;
$gap:16px;
$dark-blue: #032841;
$light-blue: rgba(54,130,222,1);
$footer-background-color: white;
$navbar-height: 102px;

// navbar
$navbar-font-size: 14px;
$navbar-submenu-color:rgba(0,0,0,0.6);
$navbar-submenu-color-hover:#007aff;
@mixin navbar-submenu {
   & {
     color: $navbar-submenu-color;
   }
   &:hover {
     color: $navbar-submenu-color-hover;
   }
}

@mixin navbar-top-item() {
  &:hover {
    font-weight: 600;
  }
}


// text
$common-text-color: #919AA3;
$common-active-color: #007AFF;
$lang-select-color: #007EE5;

// background color
$common-bg-color: #f6fbff;

// timeline
$timelineColor: #007aff;

@mixin widescreen-desktop {
  @media screen and (min-width: $desktop) and (max-width: $fullhd - 1px) {
    @content
  }
}



