@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/mixins";


$font-family-light: WorkSans,PingFangSC-Regular, "Helvetica Neue", Arial, Segoe UI, "Microsoft YaHei", Sans-serif;
$font-family-main: WorkSans,PingFangSC-Medium, "Helvetica Neue", Arial, Segoe UI, "Microsoft YaHei", Sans-serif;
$font-family-title: ProximaNova,PingFangSC-Semibold, "Helvetica Neue", Arial, Segoe UI, "Microsoft YaHei", Sans-serif;
$font-title-color: #171c34;

// bulma
$family-serif: $font-family-light;
$family-primary: $font-family-light;
$gap:16px;
$dark-blue: #032841;
$light-blue: rgba(54,130,222,1);
$footer-background-color: white;
$navbar-height: 102px;

// navbar
$navbar-font-size: 14px;
$navbar-submenu-color:rgba(0,0,0,0.6);
$navbar-submenu-color-hover:#007aff;
$navbar-background-color:#007aff;
$navbar-gray-text-color: #919aa3;


// text
$common-text-color: #919AA3;
$common-active-color: #007AFF;
$lang-select-color: #007EE5;

// background color
$common-bg-color: #f6fbff;

// timeline
$timelineColor: #007aff;

@mixin widescreen-desktop {
  @media screen and (min-width: $desktop) and (max-width: $fullhd - 1px) {
    @content
  }
}

@mixin navbar-submenu {
  & {
    color: $navbar-submenu-color;
  }
  &:hover {
    color: $navbar-submenu-color-hover;
  }
}

@mixin more-icon {
  &::after {
    content: url(~assets/images/home/more.svg);
    height: 100%;
    margin-left: 6px;
  }
}

@mixin title {
  font-family: $font-family-title;
  font-weight: 600;
  color: $font-title-color;
  @include until($desktop) {
    font-size: 20px;
  }
}
